<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Postage Rate Calculator</title>
</head>

<body>
  <h1>Postal Rate Calculator <%= thePackage %> </h1>



</body>

</html>
